.forecast {
    width: 100%;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.forecast-title {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10rem;
}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    padding-top: 4rem;
}

.forecast-day {
    background: rgba(156, 153, 153, 0.589);
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.forecast-day:hover {
    transform: translateY(-5px);
    background-color: rgba(0, 0, 0, 0.4);
}

.day-name {
    font-weight: 500;
    text-transform: capitalize;
}

.forecast-icon {
    width: 60px;
    height: 60px;
}

.day-temp {
    display: flex;          /* 1. Lo convertimos en un contenedor flex */
    justify-content: center;/* 2. Centramos los elementos horizontalmente */
    align-items: center;    /* 3. Alineamos los elementos verticalmente */
    gap: 0.25rem;           /* 4. Añadimos un pequeño espacio entre los elementos */
    width: 100%;            /* 5. Aseguramos que ocupe todo el ancho para centrarse bien */
    font-size: 1.2rem;
    font-weight: 600;
}

.day-info-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    flex-wrap: wrap;
}

.weather-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 500px){
    .forecast-title {
    margin-top: 8rem;
}
.forecast-container {
    padding-top: 4rem;
}
}